<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="test.css">
  <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
  <title>Document</title>
</head>
<body>
 
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Avril 2017 à aujourd'hui
      </div>
      <div class="item-title">Atelier Rosemood, Nantes</div>
      <div class="item-detail">Chargée de clientèle France, satisfaction client, contrôle qualité des impressions</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2011-2016
      </div>
      <div class="item-title">France terre d'asile, Hauts-de-Seine</div>
      <div class="item-detail">Juriste chargée de l'aide aux dossiers, puis chargée de mission Direction de l'urgence</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2015
      </div>
      <div class="item-title">Equinox, Canada, Ontario</div>
      <div class="item-detail">Professeur de français pour la Fonction publique du Canada</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2011
      </div>
      <div class="item-title">Association européenne pour la défense des droits de l'homme, Bruxelles</div>
      <div class="item-detail">Veille juridique et politique au Parlement européen</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2010
      </div>
      <div class="item-title">GISTI</div>
      <div class="item-detail">Juriste stagiaire pour l'accueil et conseil juridique aux migrants</div>
    </li>
  </ul>

</div>
</body>
</html>