<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="cv.css" />
    <title>WEB CV</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/favicon.webp" />
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="menu">
          <ul >
            <a href="#ancre-pres"><li id='pres'>Présentation</li></a>
            <a href="#ancre-cptces"><li id='competences'>Compétences</li></a>
            <a href="#ancre-projets"><li id='ancreProjet'>Projets</li></a>
            <a href="#ancre-exp"><li id='XP'>Expériences</li></a>
            <a href="#ancre-fmtion"><li id='ancreFormation'>Formation</li></a>
            <a href="#ancre-interests"><li id='ancreInterets'>Centres d'intérêts</li></a>

          </ul>
        </div>
      </nav>
    </header>
    <main class="container">
        <h1 class="title-dev">Développeuse FullStack Junior</h1>
      </div>
      <br />

      <section class="presentation">
        <div class="description blue-bg">
          <h2 id="ancre-pres">Bonjour, je suis Ninon !</h2>
          <p id="reconversion">
            Issue d'une formation juridique, je suis en reconversion vers le
            métier de développeur web. <br>Animée par l'envie d'apprendre, dynamique
            et curieuse, j'ai voulu me tourner vers un métier d'avenir, où les
            possibilités sont multiples ! <br>Mon parcours atypique reflète ma
            capacité d'adaptation et mon appétence à relever des défis. <br>Alors,
            n'hésitez pas à me contacter !
          </p>
          <img id="bt-change-language" src="./images/UK.png" alt="" />
        </div>

        <!-- Bloc of list of skill front end and back end -->
        <div class="skills">
          <div class="column">
            <figure class="skill">
              <h3 id='en-cours'>Formation en cours (depuis mars 2021)</h3>
              <br>
              <img src="./images/logoWCS.jpeg" alt="Rosemood" />
              <h2 id="ancre-cptces">Wild Code School</h2>
              <br>
              <div class="logo-skills">
                <img src="./images/logoHtml.png" alt="logo-html" />
                <img src="./images/logoCss2.png" alt="logoCss" />
                <img src="./images/logoJS2.png" alt="logo-JS" />
                <img src="./images/logoReact.png" alt="logo-react" />
                <img src="./images/mysql2.jpg" alt="logo-mysql" />
              </div>
              <br>
              <h3 id='envi-travail'>Environnement de travail</h3>
              <br>
              <div class="logo-envi-travail">
                <img src="./images/logo vsc.png" alt="logo-vcs" />
                <img src="./images/logoGit.jpg" alt="logo-GitHub" />
                <img src="./images/logoGithub2.png" alt="logo-git" />
                <img src="./images/logoAgile.png" alt="logo-agile" />
                <img src="./images/logoScrum.png" alt="logo-scrum" />
              </div>
            </figure>
          </div>
        </div>
      </section>

      <section class="projects">
        <div class="heading">
          <h2 id="ancre-projets">Projets</h2>
        </div>
        <div class="contents">
          <div class="box" id="projet1">
            <a href="https://ninonmaraval.github.io/kaamelott-projet/"><h1 id='titre-projet1'>Site statique html/css</h1></a>
            <a href="https://ninonmaraval.github.io/kaamelott-projet/"><p id='contenu-projet1'>
              Projet d'une semaine et composé de 4 personnes, carte blanche pour développer un site en
              HTML et CSS. Le thème retenu par l'équipe : la série Kaamelott !
            </p></a>
            
          </div>
          <div class="box" id="projet2">
            <br>
            <a href="https://wcsnaotri.netlify.app/"><h1 id='titre-projet2'>Application React : Naotri</h1></a>
            <a href="https://wcsnaotri.netlify.app/"><p id='contenu-projet2'>Projet d'un mois et composé de 5 personnes, en React. Un site 100% mobile et fun pour encourager les Nantais au recyclage !</p></a>
            <br>
          </div>
          <div class="box" id="projet3">
            <h1 id="titre-projet3">Site de recettes sans gluten</h1>
            <p id="contenu-projet3">Projet personnel proposant mes propres recettes. Intolérante au gluten, j'ai dû réinventer mon alimentation pour créer des plats qui me plaisent !</p>
            <br>
            <a class="disabled">En cours</a>
          </div>
          <div class="box" id="projet4">
            <a href="https://adopt-1-alien.netlify.app/"><h1>Hackathon</h1></a>
            <a href="https://adopt-1-alien.netlify.app/"><p id='contenu-projet4'>Marathon de programmation d'un peu moins de 48h, sur le thème de l'espace. Groupe de 4 personnes, création de la base d'une appli de rencontres pour humains et extraterrestres en React !</p></a>
            <br>
          </div>
        </div>
      </section>
      <section class="experience">
        <div class="heading">
        <h2 id="ancre-exp">Expériences</h2>
      </div>
      <div class="exp-tl-container">
        <ul class="tl">
          <li class="tl-item">
            <div id="timestamp1" class="timestamp">
              Avril 2017 à aujourd'hui
            </div>
            <div class="logo-exp"><img src="./images/logoRM.jpeg" alt="logo-rosemood"></div>
            <div class="item-title">Atelier Rosemood</div>
            <div id="item-detail1" class="item-detail">Chargée de clientèle France, satisfaction client, contrôle qualité des impressions</div>
            <br>
            <div class="item-detail">Nantes<div>
          </li>
          <li class="tl-item">
            <div class="timestamp">
              2011-2016
            </div>
            <div><img src="./images/ftdalogo.png" alt="logo-ftda"></div>
            <div class="item-title">France terre d'asile</div>
            <div id="item-detail2" class="item-detail">Juriste chargée de l'aide aux dossiers, puis chargée de mission Direction de l'urgence</div>
            <br>
            <div class="item-detail">Hauts-de-Seine<div>
          </li>
          <li class="tl-item">
            <div class="timestamp">
              2015 
              <br>
              <p id="timestamp-cesure">Année de césure</p>
            </div>
            <div><img src="./images/equinox.png" alt="logo-equinox"></div>
            <div class="item-title">Equinox</div>
            <div id="item-detail3" class="item-detail">Professeur de français pour la Fonction publique du Canada</div>
            <br>
            <div class="item-detail">Ottawa, Canada<div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              2011
            </div>
            <div><img src="./images/aedhlogo.png" alt="logo-aedh"></div>
            <div class="item-title">Association européenne pour la défense des droits de l'homme</div>
            <div id="item-detail4"class="item-detail">Veille juridique et politique au Parlement européen</div>
            <br>
            <div id="item-detail4bis"class="item-detail">Bruxelles<div>
            
          </li>
          <li class="tl-item">
            <div class="timestamp">
              2010
            </div>
            <div><img src="./images/logo-gisti.jpeg" alt="logo-gisti"></div>
            <div class="item-title">GISTI</div>
            <div id="item-detail5"class="item-detail">Juriste stagiaire pour l'accueil et conseil juridique aux migrants</div>
            <br>
            <div class="item-detail">Paris<div>
          </li>
        </ul>
      </div>
    </section>
      <section class="formation">
        <div class="heading">
          <h2 id="ancre-fmtion">Formation</h2>
        </div>
        <div class="exp-tl-container">
          <ul class="tl">
            <li class="tl-item">
              <div class="timestamp">
                2009-2010
              </div>
              <div class="item-title">Institut des Hautes Etudes sur les Nations unies</div>
              <div id="item-detail6" class="item-detail">Diplôme universitaire Affaires humanitaires et coopération internationale</div>
              <br>
              <div id="item-detail6bis" class="item-detail">Marseille<div>
            </li>
            <li class="tl-item">
              <div class="timestamp">
                2008-2009
              </div>
              <div id="item-title7" class="item-title">Université Robert Schuman</div>
              <div id="item-detail7" class="item-detail">Master 2 Droit pénal international et européen, spécialité Sciences criminelles</div>
              <br>
              <div class="item-detail">Strasbourg<div>
            </li>
            <li class="tl-item">
              <div class="timestamp">
                2007-2008
              </div>
              <div id="item-title8" class="item-title">Université Bordeaux IV</div>
              <div id="item-detail8" class="item-detail">Master 1 Droit pénal et carrières judiciaires</div>
              <br>
              <div class="item-detail">Bordeaux-Pessac<div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2007
              </div>
              <div id="item-title9" class="item-title">Université de Hull</div>
              <div id="item-detail9" class="item-detail">Licence Droit européen binational</div>
              <br>
              <div id="item-detail9bis" class="item-detail">Royaume-Uni<div>
              
            </li>
            <li class="tl-item">
              <div class="timestamp">
                2004-2007
              </div>
              <div id="item-title10" class="item-title">Université d'Orléans - Faculté de droit</div>
              <div id="item-detail10" class="item-detail">Licence Droit européen</div>
              <br>
              <div class="item-detail">Orléans<div>
            </li>
          </ul>
        </div>
      </section>
      <section class="extra-skills">
        <div class="heading">
        <h2 id="ancre-interests">Centres d'intérêts</h2>
      </div>
      <div class="special-skills-contents">
        <figure class="column">
          <div class="interests">
          <img class="course-icon" src="./images/course.png" alt="course">
            <h4 id="course">
            Course à pied
            </h4>
          <p id="course-detail">Foulées de l'éléphant, Odysséa, Foulées du tram, Course de Pornic... prochain challenge, le semi-marathon de Nantes !</p>
          <br>  
        </div>
        <div class="interests">
          <img src="./images/croissance.png" alt="plantes">
          <h4 id="jardinage">Jardinage</h4>
          <p id="jardinage-detail">
            Passionnée de plantes et bouturages, environ 50 plantes, petites ou grandes, s'épanouissent chez moi.
          </p>
          <br>
        </div>
        <div class="interests">
          <img src="./images/couture.png" alt="couture">
          <h4 id="couture">
            Couture
          </h4>
          <p id="couture-detail">Autodidacte, j'aime donner une seconde vie aux tissus pour en créer des accessoires, des vêtements !</p>
          <br>
        </div>
        <div class="interests">
          <img src="./images/cinema.png" alt="cinema">
          <h4 id="cinema">
            Cinéma surréaliste 
          </h4>
          <p id="cinema-detail">David Lynch, David Cronenberg</p>
        </div>
          <h3 id="langues">Langues</h3>
          <p id="anglais">Anglais (lu, écrit, parlé)</p>
          <p id="espagnol">Espagnol (lu, écrit)</p>
          <div class="interests">
            <h3 id="permis">Permis B</h3>
          </div>
        </figure>
      </div>
    </main>
    <footer class="presentation">
      <div class="description-footer">
        <div class="identity">
          <h2>Ninon Maraval</h2>
        </div>
        <div class="logos-contact">
        <a href="https://www.linkedin.com/in/ninon-maraval-77224230/"
          ><img class="img-logo"src="./images/linkedinflaticon.png" alt="logo-linkedin"
        /></a>
        <a href="https://github.com/NinonMaraval"
          ><img class="img-logo" src="./images/logogithubflaticon.png" alt="logo-github"
        /></a>
        <a href="cvdevMaraval.pdf" download="cvdevMaraval.pdf" target="_blank"
          ><img class="img-logo" src="./images/pdf.png" alt="cv-pdf"/></a>
        </div>
        <p class='mail'>maravalninon@gmail.com</p>
        <h3>You get what you work for.</h3>
      </div>
    </footer>
    <script src="CV.js"></script>
  </body>
</html>
